.margin{
    width:1200px;
    margin: 0 auto; 
}
.shopNav-A{
    width: 100%;
    height: 26px;
    background: #F4F4F4;
}
.shopNav-A .shoptop{
    text-align: right;
}
.shopNav-A .shoptop a{
    text-decoration: none;
    color: #666666;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    line-height: 26px;
    font-size: 14px;
}
.shopNav-A .shoptop a .icon img{
    width: 10px;
    position: absolute;
    left:6px;
    top:5px;
}
.shopNav-b{
    overflow: hidden;
    height: 90px;
}
.shopNav-b .logo{
margin: 0 40px;
float: left;
}
.shopNav-b .logo img{
    width: 110px;
}
.shopNav-b .tv{
    float: left;
    margin-top: 15px; 
}
.shopNav-b .tv a{
    width: 272px;
    display: block;
    
    
}
.shopNav-b .tv .tv-left{
    position: relative;
    border: 2px solid #4185f4;
    margin-right:10px;
    width: 120px;
    height: 66px;
    float: left;
}
.shopNav-b .tv .tv-left img{
    width: 100%;
    height: 100%;
}
.shopNav-b .tv .tv-left .tv-icon{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.6);
}
.shopNav-b .tv .tv-left .tv-icon .tv-yuan{
    color: #fff;
    font-size: 13px;
    width: 16px;
    height: 16px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-left: 15px;
    opacity: 0.6;
}
.shopNav-b .tv .tv-left .tv-icon .tv-yuan::before{
    content: "";
    width: 0;height: 0;
    display: block;
	border-left:13px solid  #fff;
	border-top: 7px solid rgba(0,0,0,0.1);
    border-bottom: 7px solid rgba(0,0,0,0.1);
}
.shopNav-b .tv .tv-right{
    float: left;
    width: 114px;
    height: 70px;
}
.shopNav-b .tv .tv-right p{
    font-size: 14px;
    color: #666666;
    margin: 0;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
}
.shopNav-b .tv .tv-right p span{
    background: #f33647;
    color: #ffffff;
    margin: 5px;
    padding: 4px 10px;
    border-radius: 20px;
}
.shopNav-b .tv .tv-right p span.dian{
    display:inline-block;
    width: 4px;
    height: 4px;
    padding:0;
    margin: 0;
    background-color: #fff;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 2px;
    margin-bottom: 3px;
}
.shopNav-b .tv .tv-right p.navB2_ps{
    color: #f33647;
    font: 16px/1  "";  
}
.shopNav-b .serch{
    margin-left: 70px;
    width: 438px;
    position: relative;
    float: left;
}
.shopNav-b .serch .serch-top{
    border: 2px solid #4386F4;
    width: 100%;
    margin: 20px auto;
    height: 40px;
    border-radius: 25px;
    overflow: hidden;
}
.shopNav-b .serch .serch-top input{
    border: none;
    float: left;
    box-shadow: none;
    height: 40px;
    margin-top: -2px;
    border-radius: 50% 0 0 50%;
    padding-right: 30px;
    font-size: 16px;
    width: 397px;
}
.shopNav-b .serch .serch-top .guanbi{
    display: block;
    font-size: 18px;
    color: #666666;
    float: left;
    width: 13%;
    line-height: 36px;
    position: absolute;
    top: 30px;
    right: 4px;
}
.shopNav-b .serch .serch-top .chazhao{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    font-size: 24px;
    color: #4185F4;
    line-height: 38px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 20px;
}
.shopNav-b .serch .serch-buttom{
    margin: -14px auto;
    margin-left: 14px;
}
.shopNav-b .serch .serch-buttom a{
    color: #848484;
    margin-left: 5px;
}

.shopNav-b .shopcar{
    float: left;
    margin-left: 50px;
    width: 120px;
    margin-top: 20px; 
}
.shopNav-b .shopcar a{
    color: #666;
    font: 16px "";
}
.shopNav-b .shopcar .scar img{
    width: 26px;
    height: 26px;
}
.shopNav-b .shopcar .yuan{
    width: 30px;
    height: 30px;
    border-radius:50%;
    background: red;
    display: inline-block;
    text-align: center;
    font:16px/30px "";  
}

/* 一级菜单 /导航*/
.shopNav-c{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #4185F4;
}
.shopNav-c .shopNav-c-c{
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    position: relative;
    margin-top: 10px;
}
.shopNav-c .shopNav-c-c a.daohang{
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin-left: 58px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    float: left;
}
.shopNav-c .shopNav-c-c a.allShop{
    background: #4185F4;
    color: #fff;
    width: 190px;
    margin-left: 0;
}
.shopNav-c .shopNav-c-c li.shopte{
    position: relative;
}

/* 二级菜单 */
.shopNav-c .shopNav-c-c li.shopte>ul{
    display: none;
    position: absolute;
    width: 190px;
    left: 0;
    top: 41px;
    z-index: 10;
    border: 1px solid #e2e6ef;
    background: #fff;
    box-sizing: border-box;
    padding-top: 4px;
}
.shopNav-c .shopNav-c-c li.shopte:hover>ul{
    display: block;
}
.shopNav-c .shopNav-c-c li.shopte ul .shop2{
    height: 44px;
    border: 1px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
}
.shopNav-c .shopNav-c-c li.shopte ul .shop2:hover{
    border: 1px solid #e2e6ef;
    border-right: 1px solid #fff;
    border-left: 4px solid #4185f4;
}

.shopNav-c .shopNav-c-c .shop2 .shop3{
    position: absolute;
    left: 189px;
    border: 1px solid #e2e6ef;
    top: -1px;
    width: 498px;
    z-index: 999;
    background: #fff;
    height: 300px;
    display: none;
    justify-content:space-around;
}
/* 三级菜单 */
.shopNav-c .shopNav-c-c li.shopte ul .shop2:hover .shop3{
    display: flex;
}
.shopNav-c .shopNav-c-c .shop2 .shop3 dl{
    flex: 1;
    width: 150px;
    margin: 10px;
    text-indent: 5px;
}
.shopNav-c .shopNav-c-c .shop2 .shop3 dl dt{
    border-bottom: 1px solid #000;
    font: 16px "";
}
.shopNav-c .shopNav-c-c .shop2 .shop3 dl dd{
    font:14px/2 "";
}
 
/* banner */
#banner .box{
    width: 1200px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    }
#banner .ibox{
    width: 1200px;
    height: 400px;
    }
#banner .ibox img{
    width: 1200px;
    height: 400px;
    position: absolute;
    top:0;
    }
#banner .buttons span{
    width: 40px;
    height: 40px;
    position: absolute;
    background:rgba(200,200,200,0.6);
    top: 130px;
    border: 0
}
#banner #left{
    left:0;
}
#banner #right{
    right:0;
}
#shopbox{
    width: 1200px;
    margin: auto;
    position: relative;
}
#shopbox .jindong{
    margin:20px auto;
}
#shopbox .jindong img{
    width: 100%;
    vertical-align: middle;
}
#shopbox .tattletop{
    position: relative;
}
#shopbox .tattle{
    height: 1px;
    background: #585858;
    width: 440px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    margin-top: 30px;
}
#shopbox .tattle span{
    position: absolute;
    top: -18px;
    left: 140px;
    z-index: 2;
    width: 30px;
    height: 30px;
    display: inline-block;
     background-size: 100% 100%;
}
#shopbox .tattle span.icon-rexiaobangdan{
    background: url(https://www.ttcj.tv/css/pc/images/rexiaobangdan.svg) no-repeat;   
}
#shopbox .tattle p{
    text-align: right;
    padding-right: 10px;
    display: block;
    left: 130px;
    top: -22px;
    background: #fff;
    width: 162px;
    font-size: 26px;
    color: #666;
    position: absolute;
    line-height: 37px
}

#shopbox .tattlebottom{
    height: 40px;
    width: 400px;
    text-align: center;
    color: rgb(143, 143, 143);
    font-size: 16px;
    position: relative;
    padding:0;
    font-family: "微软雅黑 Regular";
    margin: 5px auto;
}
#shopbox .sellwell{
    overflow: hidden;
}
#shopbox .sellwell .sellbottom{
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}
#shopbox .sellwell .sellbottom .left-sell{
    width: 300px;
    height: 400px;
    border: 8px solid #FFC2BD;
    float: left;
    box-sizing: border-box;
}
#shopbox .sellwell .sellbottom a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #666;
}
#shopbox .sellwell .sellbottom  .pic{
    position: relative;
    width: 100%;
    height: 284px;
    overflow: hidden;
}
#shopbox .sellwell .sellbottom .pic img{
    position: relative;
    z-index: 2;
    width: 100%;
}
#shopbox .sellwell .sellbottom h5{
    display: block;
    line-height: 24px;
    width: 96%;
    max-height: 48px;
    margin: 5px 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    font-size: 16px;
}
#shopbox .sellwell .sellbottom .list-subinfo{
    width: 96%;
    margin-left: 2%;
    min-height: 24px;
    line-height: 24px;
}
#shopbox .sellwell .sellbottom  .list-subinfo .list-subinfo-1{
    display: inline;
    min-width: 48%;
    color: #f33047;
    font-size: 18px;
}
#shopbox .sellwell .sellbottom .list-subinfo .list-subinfo-1 .price{
    font-size: 26px;
}
#shopbox .sellwell .sellbottom .right-sell{
    width: 900px;
    height: 320px;
    float: right;
    padding-top:80px; 
}
#shopbox .sellwell .sellbottom .right-sell .sellbox{
    position: relative;
    width: 900px;
    height: 320px;
    overflow: hidden;
}
#shopbox .sellwell .sellbottom .right-sell .sellbox .tempwarp{
    overflow: hidden;
    position: relative;
    width: 896px;
}
#shopbox .sellwell .sellbottom .right-sell .sellbox .tempwarp .sell-list{
    width: 4256px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.sellwell .right-sell .sellbox .tempwarp .sell-list li{
    display: inline;
    border: 1px solid #E1E8F0;
    box-sizing: content-box ;
    margin-left: -1px;
    float: left;
    width: 223px;
    height:318px;
}
#shopbox .sellwell .right-sell .sellbox .tempwarp .sell-list li .pic{       
    height: 223px;   
}
#shopbox .tattle span.icon-xinpintuijian{
    background:url(https://www.ttcj.tv/css/pc/images/xinpintuijian.svg) no-repeat; 
}
#shopbox .tattle span.icon-shipinjiankang{
    background:url(https://www.ttcj.tv/css/pc/images/shipinjiankang.svg) no-repeat; 
}
#shopbox .tattletop a{
    position: absolute;
    top: 0;
    right: 0;
    font:700 16px/1 "";
    color: #666666;
    float: right;
    display: block;
}
#shopbox .tattletop a:hover{
    color: #4185F4;
}
#shopbox .newArrivals{
    position: relative;
    height: 698px;
}
#shopbox .newArrivals .newshop{
    margin: 20px auto;
    position: relative;
    height: 698px;
    width: 101%;
}
#shopbox  .newshop .new-left{
    display: block;
    border: 1px solid #E1E8F0;
    float: left;
    margin-top: 0;
    position: relative;
    margin-right: -1px;
    margin-top: -1px;
    width: 240px;
    height: 320px;
    box-sizing:border-box;
}
#shopbox  .newshop .xt{
    width: 720px;
}
#shopbox  .newshop .new-left>img{
    width: 100%;
}
#shopbox .color{
    color: #8F8F8F;  
    width: 90%;
    margin: 10px auto;
    line-height: 20px;
}
#shopbox .color .color1{
    color: #757575;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    font-weight: 700;
}
#shopbox .color .color1 span{
    color: #f33047;
}
#shopbox .color .color1 span.red{
    color: #F33047 ;
    font-size: 26px ;
}
#shopbox .color .color1 span.color1-right{
    color: #F33047 ;
    font-size:20px ;
    float: right;
}
#shopbox .foods{
    height: 689px;
}
#shopbox .foods .newshop{
    margin-top:8px;
    height: 400px;
    width: 956px;
    float: left;
}
#shopbox .newshop .ft{
    width: 479px;
}
#shopbox .newshop .ft>img{
    float: right;
    position: relative;
    top: 38px;
    width:280px ;
}
#shopbox .newshop .ft h4{
    font-size: 18px;
    color: #696969;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.1;
}
#shopbox .newshop .te img{
    width: 280px;
    margin-left: -30px;
}
#shopbox .hot{
    height: 639px;
    width: 244px;
    border: 1px solid #E1E8F0;
    position: relative;
    top: -1px;
    float: right;
    box-sizing: border-box;
    margin-top: 8px;
}

#bottom{
    background: #F4F4F4;
}
#bottom .bo-top{
    height: 199px;
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid #E7ECF1;
}
#bottom .bo-top .bobox{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1;
}
#bottom .bo-top .bobox .item{
    flex: 1;
    text-align: center;
    height: fit-content;
}
#bottom .bo-top .bobox .item img{
    margin-top: 38px;
    width: 63px;
    height: 63px;
    vertical-align: middle;
}
#bottom .bo-top .bobox .item p{
    display: block;
    margin: 7px auto 9px;
    width: 165px;
    text-align: center;
    color: #555;
    font-size: 19px;
}
#bottom .bo-top .bobox .item .text-cen{
    position: relative;
    height: 45px;
}
#bottom .bo-top .bobox .item .text-cen span{
    width: 100%;
    position: absolute;
    left: 0px;
    font-size: 11px;
    color: #a3a3a3;
    line-height: 15px;
}
#bottom .bo-bo{
    padding: 20px 0 10px;
    overflow: hidden;
    box-sizing: border-box;
}
#bottom .bo-bo>div{
    float: left;
}

#bottom .bo-bo> .ph >div {
    width: 250px;
}
#bottom .bo-bo> .ph >div >img {
    float: left;
    margin-top: -9px;
}
#bottom .bo-bo> .ph >div > div> h3 {
    line-height: 10px;
    margin-left: 5px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#bottom .bo-bo > .ph >.box {
    width: 204px;
    height: 34px;
    margin-top: 20px;
    overflow: hidden;
}
#bottom .bo-bo > .ph >.box>a {
    display: inline-block;
    width: 204px;
    height: 34px;
    border: 1px solid #4185F4;
    border-radius: 17px;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
    color: #4185f4;
    box-sizing: border-box;
}
#bottom .bo-bo > .ph2 {
    margin-left: 30px;
}
#bottom .bo-bo> .ph2 > div {
    float: left;
    margin-left: 15px;
}
#bottom .bo-bo> .ph2 > div > img {
    display: block;
    border: 1px solid #E2E2E2;
    background: #fff;
    padding: 5px;
}
#bottom .bo-bo> .ph2 > div > p {
    color: #898989;
    text-align: center;
    margin-top: 6px;
}
#bottom .bo-bo> .lie {
    float: left;
    width: 120px;
    margin-top: -20px;
    margin-left: 40px;
    
}
#bottom .bo-bo h4{
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
#bottom .bo-bo> .lie >a {
    text-decoration: none;
    color: #A2A2A2;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
}
#footer {
    width: 100%;
    background: #727481;
}
#footer .footer{
    color: #fff;
    text-align: center;
    padding-top: 25px;
    overflow: hidden;
}
#footer .footer p:nth-child(2) span{
    margin-left: 30px;
}
#footer .footer p:nth-child(3) a{
    color: #fff;    font-size: 14px;
}
#footer .footer p:nth-child(3) span{
    margin-left: 20px;    font-size: 14px;
}
#footbanner{
    width: 100%;
    height: 45px;
}
#footbanner li{
    width: 150px;
    height: 45px;
    float: left;
    overflow: hidden;
}
#footbanner li .lyjg {
    display: block;
    width: 70%;
    padding: 2px;
    margin-top: 10px;
    letter-spacing: 2px;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    background-color: red;
    text-align: center;
}
/* 楼层 */
#floor{
    position: fixed;
    left: 0px;
    display: block; 
    background: #fff;
    border: 1px solid #E2E6EF;
    text-align: center;
    z-index: 2000;
    top: 30%;
    width: 100px;
}
#floor li{
    padding-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#floor li.floort{
    padding: 0;
    width: 76px;
    margin:10px auto;    
}
#floor li.floort img{
    width: 100%;
    vertical-align: middle;
}

/* 回到顶部 */
#backtop{
    border-top: 1px solid #ffffff;
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 200px;
    right: 0;
    z-index: 200;
    background: #333;
}
#backtop a span{
    display: block;
    width: 36px;
    height: 36px;
    margin:auto ;
    background:url(https://www.ttcj.tv/css/pc/images/tops.svg) no-repeat center;
}

